.label {
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.15s ease-in-out, top 0.15s ease-in-out,
    color 0.15s ease-in-out;
}
.label:has(+ input:not(:empty)),
.label:has(+ input:not(:placeholder-shown)),
.label:has(+ input:-webkit-autofill),
.label:has(+ input:focus) {
  top: 0;
  transform: scale(0.88) translateX(-8px) translateY(-50%);
}
